@font-face {
    font-family: 'HelveticaNeueLT-Bold';
    src: url(/assets/fonts/2CDA7C_0_0.eot);
    src: url(/assets/fonts/2CDA7C_0_0.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/2CDA7C_0_0.woff2) format("woff2"), url(/assets/fonts/2CDA7C_0_0.woff) format("woff"), url(/assets/fonts/2CDA7C_0_0.ttf) format("truetype");
}

@font-face {
    font-family: 'HelveticaNeueLT-BoldItalic';
    src: url(/assets/fonts/2CDA7C_1_0.eot);
    src: url(/assets/fonts/2CDA7C_1_0.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/2CDA7C_1_0.woff2) format("woff2"), url(/assets/fonts/2CDA7C_1_0.woff) format("woff"), url(/assets/fonts/2CDA7C_1_0.ttf) format("truetype");
}

@font-face {
    font-family: 'HelveticaNeueLT-ThinItalic';
    src: url(/assets/fonts/2CDA7C_2_0.eot);
    src: url(/assets/fonts/2CDA7C_2_0.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/2CDA7C_2_0.woff2) format("woff2"), url(/assets/fonts/2CDA7C_2_0.woff) format("woff"), url(/assets/fonts/2CDA7C_2_0.ttf) format("truetype");
}

@font-face {
    font-family: 'HelveticaNeueLT-Italic';
    src: url(/assets/fonts/2CDA7C_3_0.eot);
    src: url(/assets/fonts/2CDA7C_3_0.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/2CDA7C_3_0.woff2) format("woff2"), url(/assets/fonts/2CDA7C_3_0.woff) format("woff"), url(/assets/fonts/2CDA7C_3_0.ttf) format("truetype");
}

@font-face {
    font-family: 'HelveticaNeueLT-Thin';
    src: url(/assets/fonts/2CDA7C_4_0.eot);
    src: url(/assets/fonts/2CDA7C_4_0.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/2CDA7C_4_0.woff2) format("woff2"), url(/assets/fonts/2CDA7C_4_0.woff) format("woff"), url(/assets/fonts/2CDA7C_4_0.ttf) format("truetype");
}

@font-face {
    font-family: 'HelveticaNeueLT-Roman';
    src: url(/assets/fonts/2CDA7C_5_0.eot);
    src: url(/assets/fonts/2CDA7C_5_0.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/2CDA7C_5_0.woff2) format("woff2"), url(/assets/fonts/2CDA7C_5_0.woff) format("woff"), url(/assets/fonts/2CDA7C_5_0.ttf) format("truetype");
}

@font-face {
    font-family: 'HelveticaNeueLT-UltraLight';
    src: url(/assets/fonts/2D4EBB_0_0.eot);
    src: url(/assets/fonts/2D4EBB_0_0.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/2D4EBB_0_0.woff2) format("woff2"), url(/assets/fonts/2D4EBB_0_0.woff) format("woff"), url(/assets/fonts/2D4EBB_0_0.ttf) format("truetype");
}

@font-face {
    font-family: 'Helvetica-LTW1G-Th';
    src: url(/assets/fonts/2E15FE_2_0.eot);
    src: url(/assets/fonts/2E15FE_2_0.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/2E15FE_2_0.woff2) format("woff2"), url(/assets/fonts/2E15FE_2_0.woff) format("woff"), url(/assets/fonts/2E15FE_2_0.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: 'Helvetica-LTW1G-UltLt';
    src: url(/assets/fonts/2E15FE_3_0.eot);
    src: url(/assets/fonts/2E15FE_3_0.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/2E15FE_3_0.woff2) format("woff2"), url(/assets/fonts/2E15FE_3_0.woff) format("woff"), url(/assets/fonts/2E15FE_3_0.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTW1G-Lt';
    src: url(/assets/fonts/30614A_0_0.eot);
    src: url(/assets/fonts/30614A_0_0.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/30614A_0_0.woff2) format("woff2"), url(/assets/fonts/30614A_0_0.woff) format("woff"), url(/assets/fonts/30614A_0_0.ttf) format("truetype");
}