$background: rgba(23, 33, 47, 1);
$primary:#81C784;
$secondary:#78909C;
$success:#439446;
$info:#81D4FA;
$warning:#ffd65c;
$danger:#F48FB1;

$gray: #8a8a8a;
$white: #fff;
$lightgray: rgba(0,0,0,.12);


// responsive breakpoints
$sm: 640px;
$md: 720px;
$lg: 960px;
$xl: 1080px;
